{% extends "ideas/views/templates/base.html" %}

{% block content %}
<h1>{{idea.name}}</h1>

<p>{{idea.description}}</p>

<fieldset>
    <legend>Implementations</legend>
    {% if user-id %}
        <br/>
        <a href="/ideas/{{idea.id}}/implementations/add">Submit your implementation</a>
    {% endif %}

    <ul>
        {% for implementation in idea.implementations %}
        <li>
            <a href="/ideas/{{idea.id}}/implementations/{{implementation.id}}">{{implementation.repo_url}}</a> by <a href="/users/{{implementation.user_id}}">{{implementation.username}}</a>.
        </li>
        {% endfor %}
    </ul>
</fieldset>

{% endblock %}
