{% extends "ideas/views/templates/base.html" %}

{% block content %}
<h1>{{user.first_name}} &lt;{{user.username}}&gt; {{user.last_name}} (#{{user.id}})</h1>

<b>Address:</b> {{user.email}}<br />

<b>Implementations:</b>
<ul>
    {% for implementation in implementations %}
        <li><a href="/ideas/{{implementation.idea_id}}/implementations/{{implementation.id}}">Implementation</a> of <a href="/ideas/{{implementation.idea_id}}">{{implementation.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
