<form action="/ideas/{{idea.id}}/implementations" method="post">
    {% csrf-token %}
    <label for="repo_url">Repository URL</label><br/>
    <!--
    {{ if errors.repo_url }}
    <div class="error">Repository error: {{ errors.repo_url }}.</div>
    {{ endif }}
    <! is that unsafe? -->
    <input name="repo_url" id="repo_url" value="{{ repo_url }}" /><br/>

    <label for="demo_url">Demo URL</label><br/>
    <input name="demo_url" id="demo_url" value="{{ demo_url }}" /><br/>

    <label for="comment">Comment</label><br/>
    <textarea name="comment" id="comment">{{ comment }}</textarea><br/>

    <input type="submit" />
</form>
